.header {
    /* display: block; */
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 100;
    background-color: white;
}

.body {
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.table {
    display: block;
    text-align: center;
    overflow: auto;
    max-height: 80vh;
}

.cell {
    border: 0.5px solid black;
}

.search {
    width: 10vw;
}